@charset "UTF-8";

table.table1{
	table-layout: fixed; 
	width: 750px;
	border: solid 2px #774444;
}

tr.tr1{
	height: 45px;
}
tr.tr2{
	text-align: center;
	height: 75px;
}

td{
	border: solid 2px #555588;
}

td.td1{
	text-align: center;
}

button.buton1{
	width: 220px;
	color: #3333EE;
	font-weight: 900;
}

button.buton2{
	background-color: #AAAA44;
	width: 60%;
}
